body {
    background-color: lightgray;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: blue;
}

h2 {
    color: darkgreen;
}

p {
    font-size: 18px;
}

ul {
    list-style-type: square;
}

nav {
    background-color: black;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    margin: 20px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
}